<footer id="footer">
  <div class="row">
     <h2 class="col-lg-12">{{ site.title }}</h2>

  </div>
  <hr>
  <div class="row">
   
    <div class="col-lg-4">
        <h4>Localização</h4>
        <p>
        Rio de Janeiro,Brazil.
        </p>
    </div>
    <div class="col-lg-4" id="links">
        <h4>Links</h4>
        <p>
        <a href="https://github.com/{{site.github_username}}">
        <i class="fa fa-github"></i>
        Github</a>
        <br/>
        <a href="https://twitter.com/{{site.twitter_username}}">
        <i class="fa fa-twitter"></i>
        Twitter</a>
        <br/>
        <a href="https://www.facebook.com/{{site.facebook_username}}">
       <i class="fa fa-facebook"></i> Facebook</a>
        </p>
    </div>
    <div class="col-lg-4">
        <h4>Sobre o blog</h4>
        <p>{{ site.description }}</p>
    </div>

</footer>

{% if site.GH_ENV == 'gh_pages' %}
<link rel="stylesheet" type="text/css" href="{{site.cdn.font_awesome}}">
<script src="{{site.cdn.lunr}}" type="text/javascript"></script>
<script src="{{site.cdn.jquery}}" type="text/javascript"></script>
<script src="{{site.cdn.bootstrap_js}}" type="text/javascript"></script>
{% else %}

<link rel="stylesheet" type="text/css" 
href="{{ "/components/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">

<script src="{{ "/components/lunr.js/lunr.min.js" | prepend: site.baseurl }}" 
type="text/javascript"></script>

<script src="{{ "/components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}" 
type="text/javascript"></script>

<script src="{{ "/components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}" 
type="text/javascript"></script>

{% endif %}

<script src="{{ "/components/jsmart/smart.min.js" | prepend: site.baseurl }}" 
type="text/javascript"></script>

<script src="{{ "/js/app.js" | prepend: site.baseurl }}" 
type="text/javascript"></script>