---
layout: default
---

<div id="search-content"></div>
<div class="hide" id="error-404">
  {% include 404.html %}
</div>

<script id="search-tpl" type="text/x-jsmart-tmpl">

{foreach $results as $i => $result}

<div  class="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">  
               <div class="col-lg-3">
               <a href="{$result.url}">
                 <div class="bg-cat bg-{$result.categories[1]}">
                  {$result.categories[1]}
                 </div>
                </a>
               </div>    
               <div class="col-lg-9">
               <a href="{$result.url}">          
                <h3>{$result.title}</h3>
                </a>
                <span class="post-meta">
                 Publicado em {$result.date}
                </span><br>
                {section name='tag' loop=$result.tags}
                <a href="/tag/{$result.tags[tag]}">
	          <span class="label label-danger">{$result.tags[tag]}</span>
	          </a>
                {/section}               
                
                <p>{$result.description}</p>                
                
                </div>
            </div>

        </div>
    </div>
</div>
{foreachelse}
      No books
{/foreach}

</script>

<script type="text/javascript">
 var page = '{{page.path|remove:'.html'}}';
</script>